<!DOCTYPE html>
<html ng-app="myApp">

<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>

<body>

  <div ng-controller="MainController">
    <div> {{ title }}</div>
    <form name="myForm">
      add todo
      <input ng-change="change()" type="text">
      <input ng-click="addTodo(myForm.todo)" type="submit">
    </form>
    <div ng-repeat="todo in todos">
      <li>{{ todo.todo }}</li>
    </div>
  </div>

  <script src="app/controllers/MainController.js"></script>
</body>

</html>